* {
	box-sizing: border-box;
}
:root {
	--background-color: #ffffff;
}
html,
body {
	height: 100%;
	padding: 0;
	margin: 0;
}
header,
footer,
#content {
	padding: 0px;
	margin: 0px;
	background-color: var(--background-color);
}
header {
	min-height: 450px;
}
.blur-image {
	top: 0;
	height: 100%;
	background-image: url(background.jpg);
	background-repeat: no-repeat;
	background-size: cover;
	filter: blur(2px);
	z-index: 1;
}
ul {
	list-style-type: none;
}
.main-info {
	text-shadow: -1px 1px 0 #000, 1px 1px 0 #000, 1px -1px 0 #000,
		-1px -1px 0 #000;
	position: absolute;
	top: 20px;
	width: calc(100% - 0px);
	color: #ffffff;
	font-size: larger;
	display: flex;
	align-items: center;
	flex-direction: column;
	z-index: 2;
}
#content div,
#side-menu section {
	padding: 4px;
	margin: 2px;
	border: 2px solid red;
}
#side-menu section {
	border: 2px solid green;
}
html {
	height: 100%;
}
body {
	min-height: 100%;
	margin: 0;
	display: flex;
	flex-direction: column;
}
#content {
	flex: 1;
	display: flex;
	flex-direction: row;
}
#side-menu {
	flex: 1;
}
#main {
	flex: 2;
}

p {
	color: rgb(0, 0, 0);
}
#motto {
	margin-top: -25px;
	color: rgb(255, 255, 255);
}
.favorite {
	color: rgb(255, 157, 157);
	font-weight: bold;
}
#top-menu-bar {
	list-style-type: none;
	top: 20px;
	right: 10%;
	position: absolute;
	list-style-type: none;
	margin: 0;
	padding: 0;
	overflow: hidden;
	z-index: 3;
}
#top-menu-bar li {
	border-radius: 20px;
	border: 1px solid rgba(0, 0, 0, 0);
	margin-right: 10px;
	float: left;
}
#top-menu-bar a {
	text-shadow: -1px 1px 0 #000, 1px 1px 0 #000, 1px -1px 0 #000,
		-1px -1px 0 #000;
	display: block;
	text-align: center;
	text-decoration: none;
	padding: 10px 15px;
	color: #ffffff;
}
#top-menu-bar li:hover {
	border: 1px solid red;
	background-color: rgb(255, 255, 255);
}

#top-menu-bar li:hover a {
	text-shadow: none;
	color: black;
}
.photo {
	height: 200px;
	width: 200px;
	border-radius: 50%;
	border: 3px solid white;
}
.skill-level {
	overflow: hidden;
	border-radius: 7px;
	height: 15px;
	width: 150px;
	background-color: #d3d3d3;
}
.level-5 {
	height: 100%;
	width: 100%;
	background-color: blue;
}
.level-4 {
	height: 100%;
	width: 80%;
	background-color: blue;
}
.level-3 {
	height: 100%;
	width: 60%;
	background-color: blue;
}
.level-2 {
	height: 100%;
	width: 40%;
	background-color: blue;
}
.level-1 {
	height: 100%;
	width: 20%;
	background-color: blue;
}
.skills {
	padding-left: 10px;
}
